<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='flask.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='file.css') }}" />
    <title>methods</title>
  </head>
  <body>
    <h1>Welcome page(GET)</h1>
    <button onclick="location.href='/join'">JOIN(GET)</button>
    <a href="/join">JOIN(GET)</a>
    <form action="/join" method="get">
      <input type="submit" value="JOIN(GET)" />
    </form>
  </body>
</html>
